:root {
  --cui-font-size: 14px;
  --cui-color: white;
  --cui-color-text: #333;
  --cui-background: rgb(238, 138, 156);
  --cui-background-base: white;
  --cui-background-active: rgb(241, 95, 124);
  --cui-radius: 8px;
  --cui-radius-big: 16px;
  --cui-padding: 20px;
  --cui-margin: 20px;
  --cui-time: .4s
}