@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@mixin absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin ov0 {
  opacity: 0;
  visibility: hidden;
}

@mixin ov1 {
  opacity: 1;
  visibility: visible;
}